<section class="date">
  <div class="date">
      <h2><%= theme.lover.boy %> and <%= theme.lover.girl %> have been together for</h2>
      <div class="timer">
      <b id="d"></b> Days <b id="h"></b> Hours <b id="m"></b> Minutes <b id="s"></b> Seconds
      </div>
      <div class="song">
          <!--页面底部歌词-->
          <!-- require APlayer -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
          <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
          <!-- require MetingJS -->
          <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
          <meting-js 
          server="<%= theme.playlist.server %>" 
          type="<%= theme.playlist.type %>" 
          id="<%= theme.playlist.id %>" 
          fixed="<%= theme.playlist.fixed %>"

          autoplay="<%= theme.playlist.autoplay %>" 
          order="<%= theme.playlist.order %>" 
          loop="<%= theme.playlist.loop %>"></meting-js>
      </div>
  </div>

<!--计时器js-->
      <script>
        function timer() {
        window.setTimeout("timer()", 1000);
        var start = new Date("<%= theme.date.start %>");
        var t = new Date().getTime() - start;
        var h = ~~(t / 1000 / 60 / 60 % 24);
        if (h < 10) {h = "0" + h;}
        var m = ~~(t / 1000 / 60 % 60);
        if (m < 10) { m = "0" + m;}
        var s = ~~(t / 1000 % 60);
       if (s < 10) {s = "0" + s;}
        document.getElementById('d').innerHTML = ~~(t / 1000 / 60 / 60 / 24);
       document.getElementById('h').innerHTML = h;
       document.getElementById('m').innerHTML = m;
       document.getElementById('s').innerHTML = s;}
        timer();
      </script> 
<!--END：计时器js-->

<!--鼠标点击显示爱心-->
<script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/love.js"></script>
  </section>